.etat_attente{
    font-weight: 600;
    color: #f17732;
    i{
        margin-right: 5px;
    }
}

th{
    font-size: 15px;
    font-weight: 700;
    i{
        font-size: 20px;
        margin-right: 5px;
        transform: translateY(2px);
    }
}


.action_consult{
    display: flex;
    justify-content: space-around;
    width: 200px;
    .payer{
        border: none;
    background: #00a9dd;
    padding: 5px 10px;
    color: white;
    }
    .annuler{
        border: none;
        background: #959595;
        padding: 5px 10px;
        color: white;
    }
}
.tab-content{
    margin-bottom: 70px;
}
.table-bordered{
    min-width: 800px !important;
}


.payee_etat{
    color: #209f84;
    font-weight: 700;
}