.Title_card_2{
    background-image: url("../../assets/images/shap/ext-orange.png");
    color: #f17732 !important;
}

.Title_card_1{
    background-image: url("../../assets/images/shap/ext-blue.png");
    color: #00a9dd !important;
}

.background{
    background-image: url("../../assets/images/shap/ext-orange.png");
    padding: 10px;
}