.row_group{
    display: flex;
    justify-content:space-between ;
    .form-group{
        width: 100% ;
select{
    height: 100%;
}
    }
    .form-group:first-child{
        margin-right: 30px;
        
    }
}
.row_group_2{
    display: flex;
    justify-content: center;
    .form_check:first-child{
margin-right: 20px;
    }
}

.modal-title{
    font-size: 15px;
}

.form_check{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    label{
        margin-right: 10px;
        font-size: 22px;
    }
   .form-check input{
    cursor: pointer;
    height: 27px;
    width: 54px;
    }
}
.form_check:hover{
    background: #00a9dd17;
}
.form-check-input:checked {
    background-color: #00a9dd !important;
    border-color: #00a9dd !important;
}

.rendez_vous_form{
margin-bottom: 50px;
}
.modal-success-title{
    display: flex;
    align-items: center;
    i{
        color: #209f84;
    font-size: 20px;
    margin-right: 5px;
    }
}
.btn_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.fa-user-shield{
    font-size: 21px;
    margin-right: 10px;
}

.input_auto{
    background-color: #00a9dd26;
}

@media screen and (max-width: 600px) {
    .btn_form_setp3 {
        flex-direction: column-reverse;
    }
    .row_group{
        flex-direction: column;
    }
 .form_check{
    padding: 10px 0 !important; 
 }
         
        .form-check-label{
           
            font-size: 14px !important;
        }
    
}

.focus_input{
    border-bottom: 3px solid #00a9dd !important;
}

.error_input{
    border-bottom: 3px solid #ff95a8 !important;
}

 .form-control{
     transition: .1s !important;
 }

 .alert_hide{
     .alert-danger{
         display: flex;
         justify-content: space-between;
     }
     button{
       margin: 0;
     }
 }

 .form-control:focus {
    border-color: rgba(86, 90, 207, 0.3) !important;
    border-bottom: 2px solid #01a9dd !important;
}

 

.error_input{
    border-bottom: 3px solid #ff95a8 !important;
}


 .form-check-input{
     border-radius: 30px !important;
 }